<%#<p id="notice"> %>
<%#<%= notice %> 
<%#</p> %>

<% page_header "All Products" %>

<!--<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Action</th>
      <th colspan="2"></th>
      <th>Email</th>
      <th>Created at</th>
    </tr>
  </thead>

  </table> -->
    
    <div class="row product-row">
      <% @products.each do |product| %>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <figure class="card product-card">
          <div class="card-image" > 
            <%= link_to image_tag(product.photo.url(:thumb)), product if product.photo.present? %><br/>
            <div class="product-info">
            <%= product.name %><br/>
           
            RM<%= product.price %><br/>
            <br/>
            <div class="user-info">
            <%= product.user.email %><br/>
            <div class="product-time">
            <%= time_ago_in_words(product.created_at) %> ago<br/>
            
             <% if user_signed_in? %>
            <%= link_to 'Message me', new_message_path(to: product.user.id) %>
            <% end %>
            
            <% if product.user == current_user %>
            
            
            <% end %>
          </div>
          </div>
          </div>
          </div>  
      </figure>
   </div>
   <% end %>
  </div>
  
<br>
<% if user_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% else %>
<% end %>