<p id="notice"><%= notice %></p>
  	<%= page_header @product.name %>
<p>
  	<p class="body">
  		<%= image_tag @product.photo_url(:thumb) if @product.photo? %><br/>
  		<%= @product.description %><br/>
  		RM<%= @product.price %>
</p>
</p>

<p class="date">
	<%= time_ago_in_words(@product.created_at) %> ago
</p>

<p class="offer">
	<%= form_for(@product) do |f| %>
	Your Offer(RM)<%= f.label :offered_price %><br>
    <%= f.text_field :offered_price %>
    <% end %>
</p>

<% if @product.user == current_user %>
<%= link_to 'Edit', edit_product_path(@product) %>
 | <% end %>
<%= link_to 'Back', products_path %>
