<p id="notice"><%= notice %></p>
  	<%= page_header @product.name %>
<p>
  	<p class="body">
  		<%= image_tag @product.photo_url(:thumb) if @product.photo? %><br/>
  		<%= @product.description %><br/>
  		RM<%= @product.price %>
</p>
</p>

<p class="date">
	<%= time_ago_in_words(@product.created_at) %> ago
</p>

<div id="offers">
	<%= render @product.offers %>
</div>
<%= form_for :offer do |f| %>
<div class="field">
	<%= f.number_field :priceOffer, :value => @product.price, class:"form-control" %>
</div>
<%= f.submit "Add Offer", class:"btn btn-primary" %>
<% end %>

<% if @product.user == current_user %>
<%= link_to 'Edit', edit_product_path(@product) %>
 | <% end %>
<%= link_to 'Back', products_path %>
