<p id="notice"><%= notice %></p>
  	<%= page_header @product.name %>
<p>
  	<p class="body">
  		<%= image_tag @product.photo_url(:thumb) if @product.photo? %><br/>
  		<%= @product.description %><br/>
  		RM<%= @product.price %>
</p>
</p>

<p class="date">
	<%= time_ago_in_words(@product.created_at) %> ago
</p>

<h3 class="offers_title">
  <%= @product.offers.count %> Offers
</h3>


<div id="offers">
  <%= render :partial => @product.offers %>
</div>
<% if @product.user != current_user %>
<%= simple_form_for [@product, Offer.new] do |f| %>
  <div class="field">
    <%= f.number_field :priceOffer, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Offers", class: "btn btn-primary" %>
<% end %>
<% end %>

<% if @product.user == current_user %>
<%= link_to 'Edit', edit_product_path(@product) %>
 | <% end %>
<%= link_to 'Back', products_path %>
